<div class="post-listing">
    <div class="container">
        {% paginate posts by 9 %}
            <div class="row">
                {% for post in posts %}
                    <div class="item post-list-item col-sm-4" onclick="location.href='{{ post.url }}'" data-aos="zoom-in" data-aos-duration="1000">
                        <div class="header-img" style="background-image: url({{ post.image_url | resize: '800x800' }})">
                            <div class="overlay" style="background-color: {{ section.settings.filter_color }}; opacity: {{ section.settings.filter_opacity }};"></div>
                        </div>
                        <div class="work-content">
                            {% if section.settings.tag %}
                            <div class="tag">
                                {% for post_tag in post.tags %}
                                <p>{{ post_tag.name }}</p>
                                {% endfor %}
                            </div>
                            {% endif %}
                            {% if section.settings.title %}
                            <h{{ section.settings.title_size }} class="title">{{ post.title }}</h3>
                            {% endif %}
                            <span class="author">
                                {% if section.settings.author %}
                                {{ post.author }}
                                {% endif %}
                                {% if section.settings.date %}
                                <i>| {{ post.published_at }}</i>
                                {% endif %}
                            </span>
                            {% if section.settings.excerpt %}
                            <p>{{ post.excerpt | strip_html | truncate | 200 }}</p>
                            {% endif %}
                            <a href="{{ post.url }}" class="post-link" style="color:{{ section.settings.link_color }};">Read more <i class="caret-right" style="border-color:{{ section.settings.link_color }};"></i></a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endpaginate %}
    </div>
</div>

{% styles %}
@font-face {
    font-family: 'Oswald';
    src: url("{{ 'Oswald.ttf' | font_url }}") format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Didot';
    src: url("{{ 'Didot.ttf' | font_url }}") format('ttf');
    font-weight: normal;
    font-style: normal;
}

.post-listing {
    margin: 3rem auto 5rem;
}

.post-listing .container {
    margin-top: 3rem;
}

.post-listing .post-list-item,
.post-listing .header-post .blog-description, 
.post-listing .row {
    margin-bottom: 2rem;
}

.post-listing .post-list-item .header-img {
    background-color: #dcf0ff;
    background-position: center center;
    object-fit: cover;
    height: 200px;
    margin-bottom: 1rem; 
}

.post-listing .header-post .post-categories ul {
    text-align: center;
    list-style: none;
    padding: 0;
}

.post-listing .header-post .post-categories a {
    color: #000000;
    font-size: 1.2rem;
    font-weight: 700;
    text-decoration: none;
}

.post-listing .header-post .blog-description h3 {
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.post-listing .work-content .author,
.post-listing .work-content .tag {
    color: #BBBBBB;
}

.post-listing .work-content .tag {
    font-size: .8rem;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.post-listing .work-content .tag p {
    margin: 0 .7rem .3rem 0;
}

.post-listing .work-content p {
    line-height: 22px;
    margin-bottom: 0.5rem;
}

.post-listing .work-content .tag p,
.post-listing .work-content .author {
    font-size: .6rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: .3rem;
    display: block;
}

.post-listing .post-list-item .post-link {
    color: #000000;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.post-listing .post-list-item .post-link:hover {
    text-decoration: underline;
}

.post-listing .post-list-item .post-link i {
    margin: 0 0 0 .3rem;
}

.post-listing .icon {
    background-color: #555555;
    display: block;
    height: 25px;
    width: 25px;
    text-align: center;
    mask-size: contain;
    mask-position: center;
    -webkit-mask-size: contain;
    -webkit-mask-position: center;
}

.post-listing .caret-right {
    border: solid #C22221;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
{% endstyles %}

{% schema %}
{
    "name": "Post Listing",
    "description": "Blog Post Listing",
    "settings": [
        {
            "type":"checkbox",
            "id":"tag",
            "label":"Show Tags",
            "default": true
        },
        {
            "type":"checkbox",
            "id":"title",
            "label":"Show Title",
            "default": true
        },
        {
            "type": "select",
            "id": "title_size",
            "label": "Title Size",
            "default": "3",
             "options": [
                {
                    "label":"1",
                    "value":"H1"
                },
                {
                    "label":"2",
                    "value":"H2"
                },
                {
                    "label":"3",
                    "value":"H3"
                },
                {
                    "label":"4",
                    "value":"H4"
                },
                {
                    "label":"5",
                    "value":"H5"
                },
                {
                    "label":"6",
                    "value":"H6"
                }
            ]
        },
        {
            "type":"checkbox",
            "id":"author",
            "label":"Show Author",
            "default": true
        },
        {
            "type":"checkbox",
            "id":"date",
            "label":"Show Date",
            "default": true
        },
        {
            "type":"checkbox",
            "id":"excerpt",
            "label":"Show Teaser",
            "default": true
        },
        {
            "type": "color",
            "id": "filter_color",
            "label": "Background Filter Color"
        },
        {
            "type": "range",
            "id": "filter_opacity",
            "label": "Filter Opacity",
            "min": 0,
            "max": 1,
            "step": 0.1,
            "default": 0.5
        }
    ]
}
{% endschema %}